history/
testing/
poster/
.venv/
.vscode/
**/__pycache__/
*.py[cod]
**/.DS_Store
**/*.npz
data/
model/
val_loss*.png
orbita3d_control/target/
orbita3d_control/docs/
**/*.zip
.DS_Store
__MACOSX/
._*
Cargo.lock
